h1 {
    color: rgb(183, 128, 62);}

.info { color: azure;}


#highlight {background-color: saddlebrown;}

h1 { font-size: 36px;}
h2 { font-size: 26px;}
h3 { font-size: 26px;}

.nav {
    display: flex; gap: 12px;

}

a:hover {
    background-color: rgb(183, 128, 62);
}